In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

# string transformation
import mojimoji
import re

df = pd.read_csv('./first_messages.csv', index_col=False)
df = df.drop(['user_id', 'chat_room_id', 'updated_at', 'created_at'], axis=1)

df.describe()
df.loc[df['status'] == 2, 'status'].describe()
df.groupby(['status'], as_index=False).count().sort_values(by='status', ascending=False)

def __zen_to_han(string):
    return mojimoji.zen_to_han(string)

def __remove_dividors(string):
    return re.sub('\r\n|\s|ã€€|,|ã€‚|ã€|\/|_|ï¼¿|ãƒ»|ï¼', '', string)

def preprocess(data):
    return __zen_to_han(__remove_dividors(str(data)))

In [2]:
df.apply(preprocess)

id         0112233445...164961416496531649615164965416496...
status     0111213141..1649614116496150164961601649617016...
message    0ã„ã„ã­ğŸ‘ã‚ã‚ŠãŒã¨ã†ğŸ˜Š\nä¸­å¤®åŒºåœ¨ä½ã§ã„ã¤ã‚‚éŠ€åº§ä¸¸ã®å†…å…­æœ¬æœ¨è¾ºã‚Šã§é£Ÿäº‹ã—ã¦ãŠã‚Šã¾ã™ã‚ˆã‚......
dtype: object

In [3]:
df.head()

   id  status                                            message
0   1       1  ã„ã„ã­ğŸ‘ã‚ã‚ŠãŒã¨ã†ğŸ˜Š\nä¸­å¤®åŒºåœ¨ä½ã§ã€ã„ã¤ã‚‚éŠ€åº§ãƒ»ä¸¸ã®å†…ãƒ»å…­æœ¬æœ¨è¾ºã‚Šã§é£Ÿäº‹ã—ã¦ãŠã‚Šã¾ã™ã€‚ã‚ˆã‚...
1   2       1  æœ¬æ—¥ä¼šã„ãŸã„ï¼\nä»Šæ—¥ã®ã²ã¨ã“ã¨ï¼šä»Šå¤œã¯ä¸€äººã˜ã‚ƒã‚„ã£ã¦ã‚‰ã‚Œãªã„\näººæ•°ï¼š1äºº\nã‚¨ãƒªã‚¢ï¼šæ¸‹è°·...
2   3       1  æœ¬æ—¥ä¼šã„ãŸã„ï¼\nä»Šæ—¥ã®ã²ã¨ã“ã¨ï¼šä»Šå¤œã¯ä¸€äººã˜ã‚ƒã‚„ã£ã¦ã‚‰ã‚Œãªã„\näººæ•°ï¼š1äºº\nã‚¨ãƒªã‚¢ï¼šæ¸‹è°·...
3   4       1  æœ¬æ—¥ä¼šã„ãŸã„ï¼\nä»Šæ—¥ã®ã²ã¨ã“ã¨ï¼šä»Šå¤œã¯ä¸€äººã˜ã‚ƒã‚„ã£ã¦ã‚‰ã‚Œãªã„\näººæ•°ï¼š1äºº\nã‚¨ãƒªã‚¢ï¼šæ¸‹è°·...
4   5       1                                     ã©ãƒ¼ã‚‚ï¼\nä»Šæ—¥ã©ã†ã£ã™ã‹ï¼Ÿ

In [4]:
df.loc[df['message'].str.contains('[a-zA-Z0-9]{5,}'), 'check_id'] = 1
df = df.fillna(0)

In [5]:
df.head()

   id  status                                            message  check_id
0   1       1  ã„ã„ã­ğŸ‘ã‚ã‚ŠãŒã¨ã†ğŸ˜Š\nä¸­å¤®åŒºåœ¨ä½ã§ã€ã„ã¤ã‚‚éŠ€åº§ãƒ»ä¸¸ã®å†…ãƒ»å…­æœ¬æœ¨è¾ºã‚Šã§é£Ÿäº‹ã—ã¦ãŠã‚Šã¾ã™ã€‚ã‚ˆã‚...       0.0
1   2       1  æœ¬æ—¥ä¼šã„ãŸã„ï¼\nä»Šæ—¥ã®ã²ã¨ã“ã¨ï¼šä»Šå¤œã¯ä¸€äººã˜ã‚ƒã‚„ã£ã¦ã‚‰ã‚Œãªã„\näººæ•°ï¼š1äºº\nã‚¨ãƒªã‚¢ï¼šæ¸‹è°·...       0.0
2   3       1  æœ¬æ—¥ä¼šã„ãŸã„ï¼\nä»Šæ—¥ã®ã²ã¨ã“ã¨ï¼šä»Šå¤œã¯ä¸€äººã˜ã‚ƒã‚„ã£ã¦ã‚‰ã‚Œãªã„\näººæ•°ï¼š1äºº\nã‚¨ãƒªã‚¢ï¼šæ¸‹è°·...       0.0
3   4       1  æœ¬æ—¥ä¼šã„ãŸã„ï¼\nä»Šæ—¥ã®ã²ã¨ã“ã¨ï¼šä»Šå¤œã¯ä¸€äººã˜ã‚ƒã‚„ã£ã¦ã‚‰ã‚Œãªã„\näººæ•°ï¼š1äºº\nã‚¨ãƒªã‚¢ï¼šæ¸‹è°·...       0.0
4   5       1                                     ã©ãƒ¼ã‚‚ï¼\nä»Šæ—¥ã©ã†ã£ã™ã‹ï¼Ÿ       0.0

In [6]:
df.loc[df['check_id'] == 1]

,id,status,message,check_id
9,10,2,fugay350 ã‚‰ã„ã‚“ã§ãŠã­ãŒã„ã—ã¾ã™ï¼ˆï¼¾Ï‰ï¼¾ï¼‰,1.0
10,11,2,fugay350ã‚‰ã„ã‚“ã§ãŠã­ãŒã„ã—ã¾ã™ï¼ˆï¼¾Ï‰ï¼¾ï¼‰,1.0
14,15,2,ã“ã‚“ã«ã¡ã¯ï¼\néƒ½å†…ã§äº‹æ¥­ã‚’ã—ã¦ã‚‹è€…ã§ã™ãŒã¾ã ãŠæ±ºã¾ã‚Šã§ç„¡ãæ”¯æ´å¿…è¦ã§ã‚ã‚Œã°è©³ã—ã„ãŠè©±ãŒå‡ºæ¥...,1.0
15,16,2,ã“ã‚“ã«ã¡ã¯ğŸ˜ƒ\n\næ°—ã«ãªã£ã¦ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ã—ã¦ã¿ã¾ã—ãŸã‚ˆâœ¨\n\nã¾ãšã¯ã”é£¯ã‹ã‚‰ã§æ°—ãŒåˆãˆã°å¤§...,1.0
16,17,2,ã“ã‚“ã«ã¡ã¯ğŸ˜ƒ\n\næ°—ã«ãªã£ã¦ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ã—ã¦ã¿ã¾ã—ãŸã‚ˆâœ¨\n\nã¾ãšã¯ã”é£¯ã‹ã‚‰ã§æ°—ãŒåˆãˆã°å¤§...,1.0
...,...,...,...,...
1649608,1649647,2,Congratsï¼matching with me.\nã‚¢ãƒ­ãƒãƒ©ã‚¤ãƒ•ã¨ã„ã„ã¾ã™ã€‚\nãƒ—ãƒ­ãƒ•ã‚£...,1.0
1649609,1649648,2,Congratsï¼matching with me.\nã‚¢ãƒ­ãƒãƒ©ã‚¤ãƒ•ã¨ã„ã„ã¾ã™ã€‚\nãƒ—ãƒ­ãƒ•ã‚£...,1.0
1649610,1649649,2,Congratsï¼matching with me.\nã‚¢ãƒ­ãƒãƒ©ã‚¤ãƒ•ã¨ã„ã„ã¾ã™ã€‚\nãƒ—ãƒ­ãƒ•ã‚£...,1.0
1649611,1649650,2,Congratsï¼matching with me.\nã‚¢ãƒ­ãƒãƒ©ã‚¤ãƒ•ã¨ã„ã„ã¾ã™ã€‚\nãƒ—ãƒ­ãƒ•ã‚£...,1.0
1649612,1649651,2,Congratsï¼matching with me.\nã‚¢ãƒ­ãƒãƒ©ã‚¤ãƒ•ã¨ã„ã„ã¾ã™ã€‚\nãƒ—ãƒ­ãƒ•ã‚£...,1.0

In [7]:
df.describe()

                 id        status      check_id
count  1.649619e+06  1.649619e+06  1.649619e+06
mean   8.248256e+05  1.044636e+00  2.037561e-02
std    4.762182e+05  2.067741e-01  1.412815e-01
min    1.000000e+00  0.000000e+00  0.000000e+00
25%    4.124095e+05  1.000000e+00  0.000000e+00
50%    8.248160e+05  1.000000e+00  0.000000e+00
75%    1.237252e+06  1.000000e+00  0.000000e+00
max    1.649657e+06  3.000000e+00  1.000000e+00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1649619 entries, 0 to 1649618
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   id        1649619 non-null  int64
 1   status    1649619 non-null  int64
 2   message   1649619 non-null  object
 3   check_id  1649619 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 50.3+ MB

In [9]:
df.loc[(df['status'] == 2) & (df['check_id'] == 0), 'miss'] = 1
df.loc[(df['status'] != 2) & (df['check_id'] == 1), 'miss'] = 1

In [10]:
df = df.fillna(0)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1649619 entries, 0 to 1649618
Data columns (total 5 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   id        1649619 non-null  int64
 1   status    1649619 non-null  int64
 2   message   1649619 non-null  object
 3   check_id  1649619 non-null  float64
 4   miss      1649619 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 62.9+ MB

In [12]:
df.loc[df['miss']==1] # 96.02

,id,status,message,check_id,miss
7,8,2,ãƒ†ã‚¹ãƒˆ,0.0,1.0
35,36,2,ã‚«ã‚«ã‚ªãƒ¡ãƒ¼ãƒ«é€ã‚Šã¾ã—ãŸã€‚,0.0,1.0
39,40,2,ã‚ã‚ŠãŒã¨ã†ã€‚\nã“ã“ã‚ã¾ã‚Šè¦‹ãªã„ã®ã§t100ã‚¨ãƒ ã‚¢ã‚¤ã‚¨ãƒ«ã‚¸ãƒ¼ãƒ¡ãƒ¼ãƒ«ã‚³ãƒ ã§ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ã‚„ã‚Šã¨ã‚Šã§...,0.0,1.0
46,47,2,ä»Šå¤œã‚¨ãƒƒãƒã§ããŸã‚Šã—ã¾ã™ã‹ï¼ŸğŸ˜Š,0.0,1.0
48,49,2,ã“ã‚“ã«ã¡ã¯ã€‚è‰¯ã‹ã£ãŸã‚‰ã€ã‚‰ã„ã‚“ã®ã‚¸ãƒ¼ã‚ªãƒ¼ã‚¸ãƒ¼ã‚ªãƒ¼ãƒã‚¤ãƒ•ãƒ³ã‚¨ã‚¤ã‚¨ãƒ ã‚¢ã‚¤ã‚¸ãƒ¼ã‚ªãƒ¼ã®ã‚¢ã‚¤ãƒ‡ã‚£ã«ä¸‹ã•...,0.0,1.0
...,...,...,...,...,...
1649588,1649627,2,ã‚ˆã‚ã—ããŠé¡˜ã„ã—ã¾ã™ï¼\né£Ÿäº‹ã‚„å¤§äººã®é–¢ä¿‚ã€ä»²è‰¯ããªã£ãŸã‚‰æ—…è¡Œãªã©ã€é•·æœŸã§å¹…åºƒãæ¥½ã—ã‚ã‚‹æ–¹ã‚’...,0.0,1.0
1649603,1649642,2,ã¯ãªã•ã‚“ã€ã¯ã˜ã‚ã¾ã—ã¦ã€‚ã¶ã—ã¤ã‘ã«ã‚´ãƒ¡ãƒ³ãªã•ã„ã€‚ãŸã ã‚ã‚‰ã‹ã˜ã‚å¿µã®ãŸã‚ã€è‡ªåˆ†ã¯å®šæœŸã§ãŠä¼šã„å‡º...,0.0,1.0
1649604,1649643,2,ã´ã™ã•ã‚“ã€ã¯ã˜ã‚ã¾ã—ã¦ã€‚ã¶ã—ã¤ã‘ã«ã‚´ãƒ¡ãƒ³ãªã•ã„ã€‚ãŸã ã‚ã‚‰ã‹ã˜ã‚å¿µã®ãŸã‚ã€è‡ªåˆ†ã¯å®šæœŸã§ãŠä¼šã„å‡º...,0.0,1.0
1649605,1649644,2,ã‚ãŠã„ã•ã‚“ã€ã¯ã˜ã‚ã¾ã—ã¦ã€‚ã¶ã—ã¤ã‘ã«ã‚´ãƒ¡ãƒ³ãªã•ã„ã€‚ãŸã ã‚ã‚‰ã‹ã˜ã‚å¿µã®ãŸã‚ã€è‡ªåˆ†ã¯å®šæœŸã§ãŠä¼šã„...,0.0,1.0
1649606,1649645,2,ã†ãƒ¼ãŸã‚“ã•ã‚“ã€ã¯ã˜ã‚ã¾ã—ã¦ã€‚ã¶ã—ã¤ã‘ã«ã‚´ãƒ¡ãƒ³ãªã•ã„ã€‚ãŸã ã‚ã‚‰ã‹ã˜ã‚å¿µã®ãŸã‚ã€è‡ªåˆ†ã¯å®šæœŸã§ãŠä¼š...,0.0,1.0

In [13]:
df.loc[(df['miss']==1) & (df['status']!=2)]

,id,status,message,check_id,miss
81,82,1,ã“ã‚“ã«ã¡ã¯ğŸ˜ƒ\n\næ°—ã«ãªã£ã¦ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ã—ã¦ã¿ã¾ã—ãŸã‚ˆâœ¨\n\nã¾ãšã¯ã”é£¯ã‹ã‚‰ã§æ°—ãŒåˆãˆã°å¤§...,1.0,1.0
128,129,1,è‰¯ã‹ã£ãŸã‚‰âœ¨ãŠè©±ã—ã¾ã—ã‚‡ã†(^^)\n117kkk,1.0,1.0
181,182,1,è‰¯ã‹ã£ãŸã‚‰âœ¨ãŠè©±ã—ã¾ã—ã‚‡ã†(^^)\n117kkk,1.0,1.0
183,184,1,è‰¯ã‹ã£ãŸã‚‰âœ¨ãŠè©±ã—ã¾ã—ã‚‡ã†(^^)\n117kkk,1.0,1.0
188,189,1,è‰¯ã‹ã£ãŸã‚‰âœ¨ãŠè©±ã—ã¾ã—ã‚‡ã†(^^)\n117kkk,1.0,1.0
...,...,...,...,...,...
1649417,1649456,1,Congratsï¼matching with me.\nã‚¢ãƒ­ãƒãƒ©ã‚¤ãƒ•ã¨ã„ã„ã¾ã™ã€‚\nãƒ—ãƒ­ãƒ•ã‚£...,1.0,1.0
1649418,1649457,1,Congratsï¼matching with me.\nã‚¢ãƒ­ãƒãƒ©ã‚¤ãƒ•ã¨ã„ã„ã¾ã™ã€‚\nãƒ—ãƒ­ãƒ•ã‚£...,1.0,1.0
1649419,1649458,1,Congratsï¼matching with me.\nã‚¢ãƒ­ãƒãƒ©ã‚¤ãƒ•ã¨ã„ã„ã¾ã™ã€‚\nãƒ—ãƒ­ãƒ•ã‚£...,1.0,1.0
1649420,1649459,1,Congratsï¼matching with me.\nã‚¢ãƒ­ãƒãƒ©ã‚¤ãƒ•ã¨ã„ã„ã¾ã™ã€‚\nãƒ—ãƒ­ãƒ•ã‚£...,1.0,1.0
1649421,1649460,1,Congratsï¼matching with me.\nã‚¢ãƒ­ãƒãƒ©ã‚¤ãƒ•ã¨ã„ã„ã¾ã™ã€‚\nãƒ—ãƒ­ãƒ•ã‚£...,1.0,1.0

In [14]:
df.loc[(df['miss']==1) & (df['status']==2)]

,id,status,message,check_id,miss
7,8,2,ãƒ†ã‚¹ãƒˆ,0.0,1.0
35,36,2,ã‚«ã‚«ã‚ªãƒ¡ãƒ¼ãƒ«é€ã‚Šã¾ã—ãŸã€‚,0.0,1.0
39,40,2,ã‚ã‚ŠãŒã¨ã†ã€‚\nã“ã“ã‚ã¾ã‚Šè¦‹ãªã„ã®ã§t100ã‚¨ãƒ ã‚¢ã‚¤ã‚¨ãƒ«ã‚¸ãƒ¼ãƒ¡ãƒ¼ãƒ«ã‚³ãƒ ã§ãƒ¡ãƒƒã‚»ãƒ¼ã‚¸ã‚„ã‚Šã¨ã‚Šã§...,0.0,1.0
46,47,2,ä»Šå¤œã‚¨ãƒƒãƒã§ããŸã‚Šã—ã¾ã™ã‹ï¼ŸğŸ˜Š,0.0,1.0
48,49,2,ã“ã‚“ã«ã¡ã¯ã€‚è‰¯ã‹ã£ãŸã‚‰ã€ã‚‰ã„ã‚“ã®ã‚¸ãƒ¼ã‚ªãƒ¼ã‚¸ãƒ¼ã‚ªãƒ¼ãƒã‚¤ãƒ•ãƒ³ã‚¨ã‚¤ã‚¨ãƒ ã‚¢ã‚¤ã‚¸ãƒ¼ã‚ªãƒ¼ã®ã‚¢ã‚¤ãƒ‡ã‚£ã«ä¸‹ã•...,0.0,1.0
...,...,...,...,...,...
1649588,1649627,2,ã‚ˆã‚ã—ããŠé¡˜ã„ã—ã¾ã™ï¼\né£Ÿäº‹ã‚„å¤§äººã®é–¢ä¿‚ã€ä»²è‰¯ããªã£ãŸã‚‰æ—…è¡Œãªã©ã€é•·æœŸã§å¹…åºƒãæ¥½ã—ã‚ã‚‹æ–¹ã‚’...,0.0,1.0
1649603,1649642,2,ã¯ãªã•ã‚“ã€ã¯ã˜ã‚ã¾ã—ã¦ã€‚ã¶ã—ã¤ã‘ã«ã‚´ãƒ¡ãƒ³ãªã•ã„ã€‚ãŸã ã‚ã‚‰ã‹ã˜ã‚å¿µã®ãŸã‚ã€è‡ªåˆ†ã¯å®šæœŸã§ãŠä¼šã„å‡º...,0.0,1.0
1649604,1649643,2,ã´ã™ã•ã‚“ã€ã¯ã˜ã‚ã¾ã—ã¦ã€‚ã¶ã—ã¤ã‘ã«ã‚´ãƒ¡ãƒ³ãªã•ã„ã€‚ãŸã ã‚ã‚‰ã‹ã˜ã‚å¿µã®ãŸã‚ã€è‡ªåˆ†ã¯å®šæœŸã§ãŠä¼šã„å‡º...,0.0,1.0
1649605,1649644,2,ã‚ãŠã„ã•ã‚“ã€ã¯ã˜ã‚ã¾ã—ã¦ã€‚ã¶ã—ã¤ã‘ã«ã‚´ãƒ¡ãƒ³ãªã•ã„ã€‚ãŸã ã‚ã‚‰ã‹ã˜ã‚å¿µã®ãŸã‚ã€è‡ªåˆ†ã¯å®šæœŸã§ãŠä¼šã„...,0.0,1.0
1649606,1649645,2,ã†ãƒ¼ãŸã‚“ã•ã‚“ã€ã¯ã˜ã‚ã¾ã—ã¦ã€‚ã¶ã—ã¤ã‘ã«ã‚´ãƒ¡ãƒ³ãªã•ã„ã€‚ãŸã ã‚ã‚‰ã‹ã˜ã‚å¿µã®ãŸã‚ã€è‡ªåˆ†ã¯å®šæœŸã§ãŠä¼š...,0.0,1.0